<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>
<body class="home">
    <!-- Jumbotron main -->
    <div class="container">
      <div class="inner_container">
        <div class="jumbotron jumbotron-primary">
          <div class="row">
            <div class="text-center">
              <img src="../static/img/logo-cube.png" class="img-responsive main-img" alt="">
              <h1 class="main-title">Data online made simple</h1>
            </div>
          </div>
          <div class="text-center">
            <p class="electron-message">
              Checking for the latest updates...
            </p>
            <p id="message"></p>
            <p class="electron-message">
              Learn about <a href="http://datahub.io/docs/getting-started/pushing-data" target="_blank" onclick="openInBrowser(this.href)">publishing your first data</a> while we are doing this.
            </p>
          </div>
        </div>
        <p id="version"></p>
      </div>
    </div><!-- End of jumbotron main -->

    <%- include('script'); %>
  </body>
</html>
