<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

<body class="login">
  <div class="vertical-center">
    <div class="container">
      <h1>Authenticate</h1>
      <p class="electron-message">Please, login first so you can publish your data.</p>
      <p class="electron-message">To sign up or log in, you can use your existing GitHub account:</p>
      <a href="#" class="btn btn-default login" onclick="authenticate()">GitHub <span class="fa fa-github fa-lg"></a>
    </div>
  </div>
  <%- include('script'); %>
</body>
